<style>
body {
  background-image: url('static/herff.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style> 

<!--  -->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  	
  	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  	
  	<title> About </title>
  </head>

  <body>
  <form method="post">
  	<div class="form-group">
    	<h6> 
    	<h1>   </h1> This app is part a Scheduling project and deals only with instructors
    	<br> <h1>   </h1> The main application will be used to create schedules at UofM
    	<br> <h1>   </h1> Engineering Department.
    	
    	</h6>
  	</div>
  </form>
  <a href="/"> <button style="background-color: lightblue"> Go back to home page </button></a>
  
  </div>
<br><br><br>

  <div class="container">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="nav-link-wrapper">
          <a href="/contact"><button style="background-color: lightgreen"> Contact Us </button></a>
      </div>
    </div>
    <div class="content-wrapper">
    </div>
  </div>
  
  
  </body>
