
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
    <title> Instructors </title>
  </head>
  <body>
  <!--  -->
  <div class="container">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="nav-link-wrapper">
          <a href="/about"> <button> About this program </button></a>
        </div>
        <div class="nav-link-wrapper">
          <a href="/contact"><button> Contact Us </button></a>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
    </div>
  </div>
  <main>
  <!--  
  <div class="nav-container">
  	<nav style="background-color:black">
  		<ul style="color: white">
  			<li> 
  				<a href="/about"> About Us</a>
  			</li>
  		</ul>
  		<ul style="color: white" >
  			<li> <a href="#contact" onClick="return confirm('Contact us at tiger@memphis.edu')"> Contact Us </a> </li>
  		</ul>
  	</nav>
  </div>
  -->
  </main>
  
  <div class="container">
  <div class="jumbotron">
    <h1>Welcome to Instructor Management</h1>
    <p>This application manages Instructors.
    </p>
  </div>
  
  <h1>{{ title }}</h1>
  <a href="http://127.0.0.1:5000/create"> <button> Add Instructor </button></a>
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
		<th scope="col">Title</th>
		<th scope="col">FirstName</th>
		<th scope="col">LastName</th>
      	<th scope="col">Read</th>
      	<!--  -->
      	<th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for instructor in instructors %}
	<tr>
		<td>{{ instructor.id}}</td>
		<td>{{ instructor.title}}</td>
		<td>{{ instructor.firstname}}</td>
		<td>{{ instructor.lastname}}</td>
		<td><a href="{{instructor.link}}" target="_blank" > {{ instructor.read }} </a></td>
		<td><a href="/delete/{{instructor.id }}" onClick="return confirm('Are you sure you want to delete instructor: {{ instructor.firstname }} {{ instructor.lastname }}?')">Delete</a> 
		    |
		    <a href= "/update/{{ instructor.id }}"> Update</a>
		</td>
		
	</tr>
	{% endfor %}
	</tbody>
</table>
<a href='#top'><button> Go back to the top of the page. </button></a>
<!--  
 <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: left;"> <code>		Copyright © 2020 UofM</code> </p>
-->

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>